{% extends "base.html" %}
{% load static %}
    {% block title %}管理者ログインページ{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}" />
    {% endblock css %}
    {% block body %}
    <div class="main">
      <div class="title_h1">
        <h1>管理者ログインページ</h1>
      </div>
      <p class="error">{{error}}</p>
      <form method="POST">
        {% csrf_token %}
        <div class="component">
          <div class="label-area">
            <p class="label-text">ID</p>
          </div>
          <div class="input-area">
            <input
            type="text"
            name="username"
            required
            />
          </div>
        </div>
        <hr />
        
        <div class="component">
          <div class="label-area">
            <p class="label-text">パスワード</p>
          </div>
          <div class="input-area">
            <input type="password" name="pw" required>
          </div>
        </div>
        <div class="submit-area">
          <input type="submit" value="送信" class="submit-button" />
        </div>
      </form>
      <hr />
    </div>
    
  </div>
  {% endblock body %}