{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ニュース投稿/編集</title>
    <link rel="stylesheet" href="{% static 'css/news_post.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="title_h1">
        <h1>投稿/編集/削除ページ</h1>
      </div>

      <div class="genre">
        <p>ニュースジャンル</p>
      </div>
      <div class="radio">
        <label for="notice"
          ><input type="radio" name="genre" id="notice" />お知らせ</label
        >
        <label for="important"
          ><input type="radio" name="genre" id="important" />重要</label
        >
        <label for="event"
          ><input type="radio" name="genre" id="event" />イベント</label
        >
      </div>

      <div class="genre">
        <p>入力フォーム</p>
      </div>
        <div class="component">
          <div class="label-area">
            <p class="label-text">題名</p>
            <span class="required">必須</span>
          </div>
          <div class="input-area">
            <input
              type="text"
              required
            />
          </div>
        </div>
        <hr />

        <div class="component">
          <div class="label-area">
            <p class="label-text">写真</p>
          </div>
          <div class="input-area">
            <input type="file" />
          </div>
        </div>
        <hr />

        <div class="component">
          <div class="label-area">
            <p class="label-text">内容</p>
            <span class="required">必須</span>
          </div>
          <div class="input-area">
            <textarea required></textarea>
          </div>
        </div>
        <hr />
      </div>

      <div class="submit-area">
        <input type="submit" value="送信" class="submit-button" />
      </div>
    </div>
  </body>
</html>
