{% extends "base.html" %}
{% load static %}
{% block title %}
ニュース
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/news.css" %}">
<link rel="stylesheet" href="{% static 'css/contact_cta.css' %}">
{% endblock css %}
{% block body %}
    <div class="news-section">
    <h2 class="section-title">過去のニュース</h2>
    
    <div class="news-scroll-container">
        <div class="news-list">
            {% for item in news_list %}
        <div class="news-row">
            <span class="category-label {{ item.category }}">
                {{ item.category_name }}
            </span>
            <span class="news-date">{{ item.date }}</span>
            <span class="news-title">{{ item.title }}</span>
        </div>
        {% endfor %}
        </div>
    </div>
    {% include "components/contact_cta.html" %}
    </div>
{% endblock body %}
{% block footer_extra %}
<li><a href="#">管理者ログイン</a></li>
{% endblock footer_extra %}

