{% extends "base.html" %}
{% load static %}
{% block title %}
ニュース詳細
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/news_details.css" %}">
<link rel="stylesheet" href="{% static 'css/contact_recruit_cta.css' %}">
{% endblock css %}
{% block body %}
    <main class="news-detail-main">
        <article class="news-detail-container">
            {% for item in context %}
            <header class="news-detail-header">
                <h1 class="news-detail-title">{{item.title}}</h1>
                <time class="news-detail-date">{{item.created_at}}</time>
            </header>
            
            <div class="news-detail-divider"></div>
            
            <div class="news-detail-content">
                <div class="news-detail-image">
                    {% if item.image %}
                        <img src="{{ item.image.url }}">
                    {% endif %}
                </div>
                
                <div class="news-detail-text">
                    <p>{{item.content}}</p>
                </div>
            </div>
            
            <div class="news-detail-back">
                <a href="{% url 'main:news' %}" class="back-button">戻る</a>
            </div>
            
            <div class="news-detail-divider-end"></div>
            {% endfor %}
        </article>
    </main>
    {% include "components/contact_recruit_cta.html" %}
{% endblock body %}
