@charset "UTF-8";

* {
    font-family: '游ゴシック', 'Yu Gothic';
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
}

.footer-interior {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
    flex-wrap: nowrap;
    width: 100%;
}

.footer-content p{
    margin: 0;
    font-size: 15px;
    white-space: nowrap;
}
.footer-content a{
    border-bottom: solid 1px #ffffff;
    white-space: nowrap;
}

footer{
    color: #ffffff;
    background-color: #004D0D; 
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

footer ul{
    display: block;
    list-style-position: inside;
}

footer li {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.site-header {
    color: #ffffff;
    background-color: #004D0D; 
    top: 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

header ul{
    display: flex;
}

header ul a{
    margin: 0 15px;
    font-size: 18px;
}

.header-logo{
    display: flex;
    flex-direction: column;
}

.TEL{
    font-size: 18px;
    padding-left: 230px;
}

header h1{
    font-size: 40px;
}