@charset "UTF-8";

* {
    font-family: '游ゴシック', 'Yu Gothic';
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */
}

header, footer{
    color: #ffffff;
    background-color: #ffffff;
}


html {
    width: 100%;
}

.footer-logo{
    display: flex;
    justify-content: center;
    left: 0%;
}

.footer-content{
    display: flex;
    margin: 0 20px;
}

.footer-content p{
    margin-right: 690px;
    font-size: 15px;
}

.footer-content a{
    border-bottom: solid 1px #ffffff;
}

footer{
    background-color: #004D0D; 
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    bottom: 0;
}

footer ul{
    display: block;
    margin: 15px 75px 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    background-color: #004D0D; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 107px;
    padding: 0 50px;
}

.header-background{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

header ul{
    display: flex;
}

header ul a{
    margin: 0 15px;
    font-size: 18px;
}

.header-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0;
}

.TEL{
    font-size: 18px;

}

header h1{
    font-size: 40px;
}