.cancel-button {
  display: inline-block;
  padding: 10px 50px;
  font-size: 18px;
  cursor: pointer;
  background-color: #aaa;
  border: none;
  border-bottom: solid #666;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background 0.2s;
}
.cancel-button:hover {
  background-color: #888;
}

.delete-button {
  display: inline-block;
  padding: 10px 50px;
  font-size: 18px;
  cursor: pointer;
  background-color: #c00;
  border: none;
  border-bottom: solid #600;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  transition: background 0.2s;
}
.delete-button:hover {
  background-color: #a00;
}

.delete-form {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.news-delete-message {
  margin: 30px 0;
  color: #c00;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}