.section-title {
    text-align: center;
    font-size: 36px;
}
/* 外枠：グレーの背景と高さ指定 */
.news-scroll-container {
    background-color: #dcdcdc; /* 薄いグレー */
    padding: 20px;
    max-height: 400px;
    overflow-y: scroll; /* はみ出したらスクロール */
}
.news-list {
    width: 90%;
    margin: 0 auto;
}
/* 1行ごとの設定 */
.news-row {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 20px;
}

/* ラベル共通 */
.category-label {
    color: white;
    padding: 5px 20px;
    border-radius: 50px; /* 丸くする */
    min-width: 100px;
    text-align: center;
    margin-right: 30px;
}

/* カテゴリー別の色 */
.event { background-color: #0062d1; }  /* 青 */
.info { background-color: #007c70; }   /* 緑 */
.urgent { background-color: #ff4500; } /* 赤 */

.news-date {
    margin-right: 50px;
    font-weight: bold;
}