{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <nav>
            <h1><a href="{% url 'main:index' %}">早池峰設備工業</a></h1>
            <div class="header-logo">
                <a class="TEL">まずはご相談から<strong>TEL019-600-0000</strong></a>
                <ul>
                    <a href="{% url 'main:news' %}">ニュース</a>
                    <a href="{% url 'main:business_activities' %}">事業内容</a>
                    <a href="{% url 'main:company_information' %}">会社情報</a>
                    <a href="{% url 'main:recruitment' %}">採用情報</a>
                    <a href="{% url 'main:inquiry' %}">お問い合わせ</a>
                </ul>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
        <div class="footer-interior">
            <div class="footer-logo">
                <ul><h3>ニュース</h3>
                    <li><a href="{% url 'main:news' %}">ニュース</a></li>
                    {# ページごとに追加できるフッター拡張用ブロック #}
                    {% block footer_extra %}{% endblock %}
                </ul> 
                <ul><h3>事業内容</h3>
                    <li><a href="{% url 'main:business_activities' %}">素早い対応</a></li>
                    <li><a href="{% url 'main:business_activities' %}">実績</a></li>
                    <li><a href="{% url 'main:business_activities' %}">対象地域</a></li>
                </ul>
                <ul><h3>会社情報</h3>
                    <li><a href="{% url 'main:company_information' %}">会社概要・対象地域</a></li>
                    <li><a href="{% url 'main:company_information' %}">企業理念</a></li>
                    <li><a href="{% url 'main:company_information' %}">他社との違い</a></li>
                    <li><a href="{% url 'main:company_information' %}">営業時間</a></li>
                </ul>
                <ul><h3>採用情報</h3>
                    <li><a href="{% url 'main:recruitment' %}">採用メッセージ</a></li>
                    <li><a href="{% url 'main:recruitment' %}">社員の声</a></li>
                    <li><a href="{% url 'main:recruitment' %}">募集要項</a></li>
                </ul> 
                <ul>
                    <h3><a href="{% url 'main:inquiry' %}">お問い合わせ</a></h3>
                </ul>
            </div>

            <div class="footer-content">
                <p>©2025 Hayachine Plant Engineering All Rights Reserved.</p>
                <a href="https://www.city.morioka.iwate.jp/" target="_blank" rel="noopener noreferrer">盛岡市ホームページ</a>
            </div>
        </div>
    </footer>
</body>
{% block js %}{% endblock  %}
</html>